#
# VisionFive2 v1.3B / StarFive JH7110 SoC - Complete Multi-Core Config
#

# Use the nTRST signal for resetting the JTAG TAP
reset_config trst_only

# Use the JTAG protocol
transport select jtag

# Set a stable JTAG clock speed
adapter speed 1000

# The JH7110 has two TAPs on its scan chain with the same ID.
# We must define both of them.
jtag newtap e24 cpu -irlen 5 -expected-id 0x07110cfd
jtag newtap u74 cpu -irlen 5 -expected-id 0x07110cfd


# Define the target for the E24 monitor core (HART ID 0)
#target create e24.cpu riscv -chain-position e24.cpu -coreid 0 -dbgbase 0x1000

# Define the targets for the four U74 application cores (HART IDs 1-4)
target create u74.cpu1 riscv -chain-position u74.cpu -coreid 1
target create u74.cpu2 riscv -chain-position u74.cpu -coreid 2
target create u74.cpu3 riscv -chain-position u74.cpu -coreid 3
target create u74.cpu4 riscv -chain-position u74.cpu -coreid 4

# Group the four U74 cores together for multi-core debugging (SMP)
target smp u74.cpu1 u74.cpu2 u74.cpu3 u74.cpu4

# Initialize the JTAG connection
init
## Power
#mww 0x17000000 0x00000001
## Clock
#mww 0x17010000 0x00000001
## Reset
#mww 0x17020004 0x00000000
## Reset vector
#mww 0x17030000 0x80000000
halt
#mdw 0x17000000 1
